<h1> Chef's Leaderboard </h1>
<%index = 0%>
<%@chefs_played.each do |c| %>
<h2><%= index = @chefs_played.find_index(c)+1%>.) <a href = '/chefs/<%=c.id%>'><%=c.name%></a></h2>
<h3>Total Orders Completed: <%=c.totalOrders%></h3>
<h3>Average Cooking Time: <%=(c.averageTime/1000).to_s[0..4]%> Seconds Per Order</h3>
<%end%>
<div>
<%@chefs_not_played.each do |c| %>
<h2><%=index+=1%>.) <a href = '/chefs/<%=c.id%>'><%=c.name%></a> (Did Not Play)</h2>
<%end%>
<br/>
<%= link_to "New Game", new_round_path %>
<p></p>
<%= link_to "Personal Stats", chef_path(session[:chef_id]) %>
<p></p>
<%= form_tag ({controller: 'chefs', action: 'logout', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

