<h1> Chef Log In </h1> 

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag chefs_login_path do %>
  <div><%= text_field_tag :username,nil, placeholder:'Username' %></div>
  <div><%= password_field_tag :password,nil, placeholder:'Password' %></div>
  <%= submit_tag "Login" %>
<% end %>