<% if flash[:notice] %></div>
  <div class="success-flash"><%= flash[:notice] %></div>
<% end %>

<h1>Start New Game</h1>
<h3>Signed in as: <span class="chef-name"><%=@chef.titleize%><span></h3>
<%=form_with model:@new_round do |f|%>
<h4>How many orders do you want to cook? (1-15)</h4>
<br>
<%= f.number_field :orders_count %>
<%=f.submit%>
<%end%>
</p>
<%= link_to "Personal Stats", chef_path(session[:chef_id]) %>
</p>
<%= link_to "Leaderboard", leaderboard_path %>
</p>
<p>
<p>
<h2>Controls</h2>
<ul>
  <li><strong>Movement</strong> - Arrows(Up, Down, Left, Right)</li>
  <li><strong>Pick Up / Drop Ingredient</strong> - Press Spacebar</li>
  <li><strong>Turbo Mode</strong> - Hold Down Shift</li>
  <li><strong>Top Gun Mode</strong> - Press K</li>
  <li><strong>Star Wars Mode</strong> - Press L</li>
  <li><strong>Halo Mode</strong> - Press H</li>
  <li><strong>Rat Mode</strong> - Press R</li>
</ul>
<br>
<%= form_tag ({controller: 'chefs', action: 'logout', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
