<h1>Round Stats </h1>
<h2>Orders:</h2>
<%@round.orders.each do |o|%>
<h3><%=o.recipe.name%> Time Spent to Cook: <%=o.time/1000%>.<%=o.time.to_s[2..3]%> Seconds<h3>
<%@total_time += o.time%>
<%end%>
<br>
<h2>Total Time Spent: <%=(@total_time/1000).to_s[0..4]%> Seconds</h2>
<%= link_to "New Game", new_round_path %>
<p></p>
<%= link_to "Personal Stats", chef_path(@round.chef) %>
<p></p>
<%= link_to "Leaderboard", leaderboard_path%>
<p></p>

<%if ((@total_time/1000)/@round.orders.length) < 16.0 %>
<%= audio_tag "good.mp3", class:'play'%>
<button onclick="playGoodAudio()" type="button">Feedback</button>
</p>
<%else%>
<%= audio_tag "bad.mp3", class:'bad'%>
<button onclick="playBadAudio()" type="button">Feedback</button>
</p>
<%end%>

<%= form_tag ({controller: 'chefs', action: 'logout', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>