<div id=right_column>
    <h2>Recipe</h2>
    <div id=recipe_text></div>
</div>

<p id=error_text></p>

<canvas id="canvas" width=600 height=600></canvas>

<%= image_tag "rat.png", id: "rat_image", class: "invisible" %>
<%= image_tag "background.png", id: "background_image", class: "invisible" %>
<%= image_tag "furnace.png", id: "furnace_image", class: "invisible" %>
<%= image_tag "table.png", id: "table_image", class: "invisible" %>

<% @images.each do |image| %>
  <% ingredient_name = image.split("ingredients/").last.split(".png").first %>
  <%= image_tag image, id: ingredient_name + "_image", class: "invisible" %>
<% end %>

<% @recipes.each do |image| %>
  <% recipe_name = image.split("recipes/").last.split(".png").first %>
  <%= image_tag image, id: recipe_name + "_image", class: "invisible" %>
<% end %>