<div id="main">
  <div id="left_column">
    <canvas id="canvas" width=600 height=600></canvas>
  </div>
  <div id="right_column">
      <h2 id="recipe_title"></h2>
      <div id="recipe_text"></div>
      <p id=error_text></p>
  </div>
</div>

<%= audio_tag "music.mp3", class:'background'%>
<%= audio_tag "cooking.mp3", class:'cooking'%>
<%= audio_tag "finished.mp3", class:'finished'%>
<%= audio_tag "danger.mp3", class:'danger'%>
<%= image_tag "rat.png", id: "rat_image", class: "invisible" %>
<%= image_tag "jet.png", id: "jet_image", class: "invisible" %>
<%= image_tag "background.png", id: "background_image", class: "invisible" %>
<%= image_tag "furnace.png", id: "furnace_image", class: "invisible" %>
<%= image_tag "table.png", id: "table_image", class: "invisible" %>

<% @images.each do |image| %>
  <% ingredient_name = image.split("ingredients/").last.split(".png").first %>
  <%= image_tag image, id: ingredient_name + "_image", class: "invisible" %>
<% end %>

<% @recipes.each do |image| %>
  <% recipe_name = image.split("recipes/").last.split(".png").first %>
  <%= image_tag image, id: recipe_name + "_image", class: "invisible" %>
<% end %>