<div id="main">
  <div id="left_column">
    <canvas id="canvas" width=600 height=600></canvas>
  </div>
  <div id="right_column">
      <% if @par_time %>
        <div>
          <h3 id="par_time_text">Best Time: <br><%= "#{@par_time} seconds (#{@par_time_chef.titleize})" %></h3>
          <canvas id="par_time_bar" width=300 height=25></canvas>
        </div>
      <% end %>
      <h2 id="recipe_title"></h2>
      <div id="recipe_text"></div>
      <p id=error_text></p>
  </div>
</div>
<br>
<%= audio_tag "music.mp3", class:'background'%>
<%= audio_tag "cooking.mp3", class:'cooking'%>
<%= audio_tag "finished.mp3", class:'finished'%>
<%= audio_tag "delivered.mp3", class:'delivered'%>
<%= audio_tag "starwars.mp3", class:'starwars'%>
<%= audio_tag "mktheme.mp3", class:'mk'%>
<%= audio_tag "halotheme.mp3", class:'halo'%>
<%= audio_tag "danger.mp3", class:'danger'%>
<%= image_tag "rat.png", id: "rat_image", class: "invisible" %>
<%= image_tag "scorpion.png", id: "scorpion_image", class: "invisible" %>
<%= image_tag "mk.jpg", id: "mk_image", class: "invisible" %>
<%= image_tag "chief.png", id: "chief_image", class: "invisible" %>
<%= image_tag "halo.jpg", id: "halo_image", class: "invisible" %>
<%= image_tag "xwing.png", id: "xwing_image", class: "invisible" %>
<%= image_tag "jet.png", id: "jet_image", class: "invisible" %>
<%= image_tag "background.png", id: "background_image", class: "invisible" %>
<%= image_tag "space.png", id: "space_image", class: "invisible" %>
<%= image_tag "sky.png", id: "sky_image", class: "invisible" %>
<%= image_tag "furnace.png", id: "furnace_image", class: "invisible" %>
<%= image_tag "table.png", id: "table_image", class: "invisible" %>

<% @images.each do |image| %>
  <% ingredient_name = image.split("ingredients/").last.split(".png").first %>
  <%= image_tag image, id: ingredient_name + "_image", class: "invisible" %>
<% end %>

<% @recipes.each do |image| %>
  <% recipe_name = image.split("recipes/").last.split(".png").first %>
  <%= image_tag image, id: recipe_name + "_image", class: "invisible" %>
<% end %>
